form {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed green;

  #checked {
    visibility: hidden;
  }
  #submit {
    margin-top: 10px;
  }
}
